spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/artists
    username: artists
    password: artists
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
