app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost:5173}

minio:
  url: ${MINIO_URL:http://localhost:9100}
  access-key: ${MINIO_ACCESS_KEY:minio}
  secret-key: ${MINIO_SECRET_KEY:minio123}
  bucket: ${MINIO_BUCKET:album-capas}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/artists}
    username: ${SPRING_DATASOURCE_USERNAME:artists}
    password: ${SPRING_DATASOURCE_PASSWORD:artists}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:COLOQUE_UM_SECRET_FORTE_COM_32+_CHARS}
    issuer: ${SECURITY_JWT_ISSUER:artists-api}
    access-token-minutes: ${SECURITY_JWT_ACCESS_TOKEN_MINUTES:5}
    refresh-token-days: ${SECURITY_JWT_REFRESH_TOKEN_DAYS:7}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
